body {
  font-family: "Comfortaa", cursive;
}
p {
  color: #01579b;
}
.myNav {
  background: -webkit-linear-gradient(left, #039be5, #29b6f6, #81d4fa);
}
canvas {
  position: absolute;
  width: 99%;
  height: 99%;
  top: 0;
  z-index: -1;
}
.my-container {
  margin-top: 7em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  max-width: 75%;
  height: 47em;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(179, 229, 252, 1);
  overflow: scroll;
}
.books-lover {
  max-width: 100%;
  margin-top: 1.5em;
}
.wrappers {
  padding: 1.5em;
}

.list-group-item {
  border: unset;
  margin: 0.5em;
}
.btn {
  width: 100%;
  color: white;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: white;
  font-size: 0.8em;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #b3e5fc, #81d4fa, #4fc3f7);
  color: white;
}
a {
  color: white;
}

.books-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.book-card {
  width: 17.5em;
  height: 28.75em;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.fixed-size-img {
  width: 100%;
  height: 16.25em;
  /* overflow: hidden; */
  object-fit: cover;
}

h6 {
  color: red !important;
}

.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
.hide {
    max-height: 0 !important;
}

.dropdown{
  border: 0.1em solid black;
  width: 10em;
  margin-bottom: 1em;
}

.dropdown .title{
  margin: .3em .3em .3em .3em;  
  width: 100%;
}

.dropdown .title .fa-angle-right{
  float: right;
  margin-right: .7em;
  transition: transform .3s;
}

.dropdown .menu{
  transition: max-height .5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown .menu .option{
  margin: .3em .3em .3em .3em;
  margin-top: 0.3em;
}

.dropdown .menu .option:hover{
  background: rgba(0,0,0,0.2);
}

/*.dropdown .menu .available{
  margin: .3em .3em .3em .3em;
  margin-top: 0.3em;
  background-color: blue;
}

.dropdown .menu .reserved{
  margin: .3em .3em .3em .3em;
  margin-top: 0.3em;
  background-color: yellow;
}

.dropdown .menu .taken{
  margin: .3em .3em .3em .3em;
  margin-top: 0.3em;
  background-color: purple;
}*/

.pointerCursor:hover{
  cursor: pointer;
}
